<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Add Books</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>