<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>
<div class="container" style="background-color: aliceblue; padding: 10px">
    <div class="row text-center">
        <div class="col-sm-3">
            Total Registerd User {{user_count}}
        </div>
        <div class="col-sm-3">
            Total books Available {{book_count}}
        </div>
        <div class="col-sm-3">
            Total genres Available {{genre_count}}
        </div>
    </div>
</div>