<div class="col-sm-6 col-md-6 col-sm-offset-3">
    <form action="/book/add-book" method="post">
        <div class="form-group">
            <label for="book_name">Book Name:</label>
            <input type="text" name="book_name" class="form-control" id="book_name">
        </div>
        <div class="form-group">
            <label for="cover_image">Cover Image</label>
            <input type="text" name="cover_image" class="form-control" id="cover_image">
        </div>
        <div class="form-group">
            <label for="author_name">Author Name:</label>
            <input type="text"  name="author_name" class="form-control" id="author_name">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" name="isbn" class="form-control" id="isbn">
        </div>
        <div class="form-group">
            <label for="genres">Genres:</label>
            <input type="text" name="genres" class="form-control" id="genres">
        </div>
        <div class="form-group">
            <label for="publisher">Publisher:</label>
            <input type="text" name="publisher" class="form-control" id="publisher">
        </div>
        <button type="submit" class="btn btn-default btn-primary">Add Book</button>
    </form>
</div>
