<form action="/user/login" method="post">
    <h1>Login Form</h1>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password" required>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>