<form action="/user/signup" method="post">
    <h1>Signup Form</h1>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="batch">Batch:</label>
        <input type="text" class="form-control" id="batch" name="batch" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password" required>
    </div>
    <div class="form-group">
        <label for="pwd">Role:</label>
        <select name="role">
            <option value="STUDENT">Student</option>
            <option value="ADMIN">Admin</option>
            <option value="TEACHER">Teacher</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Signup</button>
</form>